<!doctype html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <script src="https://unpkg.com/elm-pep"></script>
    <style>
        .map {
            height: 840px;
            width: 100%;
            position: fixed;
            left: 5px;
        }
    </style> 
</head>


<body>
    <div id="map" class="map">

        <div id="mouse-position"></div>
        <form>
            <label>Projection </label>
            <select id="projection">
                <option value="EPSG:4326">EPSG:4326</option>
                <option value="EPSG:3857">EPSG:3857</option>
            </select>
            <label>Precision </label>
            <input id="precision" type="number" min="0" max="12" value="4" />
        </form>

        <form class="form-inline">
            <label>Çizilecek şekil: &nbsp;</label>
            <select id="type">
                <option value="Point">Point</option>
                <option value="Polygon">Polygon</option>
            </select>
        </form>

    </div>

    <script src="~/Scripts/init.js"></script>
</body>
</html>
