<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script src="https://unpkg.com/jsts@2.0.2/dist/jsts.min.js"></script>
    <link href="~/Scripts/jspanel-4.11.0-beta/dist/jspanel.css" rel="stylesheet" />
    <script src="~/Scripts/jspanel-4.11.0-beta/dist/jspanel.js"></script>
    <style>
        .map {
            height: 840px;
            width: 100%;
            position: fixed;
            left: 5px;
        }
    </style>
</head>


<body>
<button type="button" class="btn btn-info" id="btn1"> Point Ekle </button>
<button type="button" class="btn btn-info" id="btn2"> Polygon Ekle </button>
<button type="button" class="btn btn-info" id="btn3"> Point List </button>
<button type="button" class="btn btn-info" id="btn4"> Polygon List </button>
<div id="map" class="map">
</div>

<script src="~/Scripts/init.js"></script>
</body>
</html>
